/* @viewport {
  width: device-width;
  zoom: 1.0;
} */

body {
    margin-top: 370px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

h1,
h2,
form {
  text-align: center;
  color: white;
}

h1 {
    font-size: 40px;
}
button {
  display: block;
  margin: 20px auto;
  background-color: white;
  color: black;
}

h2 {
  margin-top: 20px;
  font-size: 40px;
  color: white;
  font-weight: bold;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.favorite {
  color: purple;
  font-family: 'Mystery Quest', cursive;
}


.orange {
    color: orange;
    font-family: 'Mystery Quest', cursive;
}

#check {
    color: orange;
}

.familyFriendly {
  color: limegreen;
  font-family: 'Creepster', cursive;
}
/* @media screen and (max-width: 873px) {


  body {
      margin-top: 240px;
      background-size: cover;
  }

  h2 {
      font-size: 1.5rem;
  }

}


@media screen and (max-width: 680px) {


    body {
        margin-top: 240px;
        background-size: contain;
    }

    h2 {
        font-size: 1.5rem;
    }

}  





 */
